.conteiner{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 450px;
     margin-right: auto;
     margin-left: auto;
     padding-left: 15px;
     padding-right: 15px;
 }
 .row-conteiner{
    flex-direction: row;
 }

 @media screen and (min-width: 1200px){
   .conteiner{
      width: 1200px;
   }
 }