.header{
     padding-top: 0;
     padding-bottom: 0;
 }
 .bordered-header {
    border-bottom: 1px solid #ECECEC;
 
 }
 .nav-menu{
     display: flex;
     align-items: center;
 }
 .header__logo{
     margin-right: 93px;
 }

.navigation,
.contacts{
    display: flex;
}
.contacts{
    margin-left: auto;
}
.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primery-text-colop;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &::after{
        content:'';
        display: block;
    
        width: 100%;
        height: 4px;
        border-radius: 2px;
        left: 0;
        bottom: 0;
        opacity: 0;
    
        background-color: $accent-color;
        position: absolute;
    }
    
    &--current::after{
        content:'';
        display: block;
    
        opacity: 1;
    }

    &:focus,
    &:hover {
    color: $accent-color;
}
   
}

.contacts__item:not(:last-child){
    margin-right: 50px;
}


.navigation__item{
     position: relative;

     &:not(:last-child){
        margin-right: 50px;
     }
 }
 
 .contacts__link {
     display: flex;
     padding-top: 32px;
     padding-bottom: 32px;
     align-items: center;
 
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: $secondary-text-color;
     fill: $secondary-text-color;
 
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            color: $accent-color;
            fill: $accent-color;
    }             
 }
 
 .contacts__icon{
     margin-right: 10px;
 }
 