.principles__item:not(:last-child){
     margin-bottom: 30px;
}

.principles__thumb{
     display: flex;
     background-color: $secondary-background-color;
     border-radius: 4px;
     min-width: 270px;
     min-height: 120px;
     margin-bottom: 30px;
     justify-content: center;
     align-items: center;
}

 .principles__title{
     margin-bottom: 10px;
    
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-align: center;
     text-transform: uppercase;
     color: $primery-text-colop;
 }

 .principles__content{
     font-weight: 400;
     font-size: 14px;
     line-height: 1.7;
     color: $secondary-text-color;
 }
@media screen and(min-width: 768px) {
    .principles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    .principles__title{
        text-align: start;
    }
    .principles__item{
        flex-basis: calc((100% - 30px) / 2);
    }
    .principles__item:not(:last-child){
        margin-bottom: 0px;
   }
}

@media screen and(min-width: 1200px) {
    .principles{
        justify-content: start;
    }
    .principles__item{
        flex-basis: calc((100% - 90px) / 4);
    }
}
 