.team-list{
     display: flex;
     justify-content: center;
 }

.team-list__item {
     background-color: $background-color;
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;
     &:not(:last-child){
        margin-right: 30px;
 }

 }
 .content-box{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

 .content-box__title {
     margin-bottom: 10px;
 
     font-weight: 500;
     font-size: 16px;
     line-height: 1.18;
     text-align: center;
     color: $primery-text-colop;
 }
 
 .content-box__content {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.18;
     text-align: center;
     color: $secondary-text-color;
     margin-bottom: 16px;
 }
 
 .social-list{
     display: flex;
 }
 .social-list__link{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 44px;
     height: 44px;
     fill: $icons-color;
     background-color: $background-color;
     border-radius: 50%;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                 &:hover,
                 &:focus{
                     fill: $background-color;
                     background-color: $accent-color;
                 }
 }
 .social-list__item:not(:last-child){
    margin-right: 10px;
}
