$primery-text-colop: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$background-color: #FFFFFF;
$secondary-background-color: #F5F4FA;
$logo-text-color: #000000;
$footer-bg: #2F303A;
$hero-bg-color: #C4C4C4;
$icons-color: #AFB1B8;
$hero-btn-hov-color: #188CE8;
$footer-text-secondary-color: rgba(255, 255, 255, 0.6);